.main {
    position:absolute;
    top:25vh;
    right:90vh;
    border:2px solid black;
    border-radius: 15px;
    background-color:burlywood;
}

.converterTemperatureCelsius {
    height:150px;
    width:300px;

}
#degreeCelsius {
    width:100px !important;
    border:none !important;
    position:absolute;
    right: 170px;
}
#convert {
    position:absolute;
    right:62px;
    top:46px;
}

.subcontainer {
    position:relative;
    
}



#degreeFahrenheit {
    width: 50px !important;
    border:none !important;
    position:absolute;
    left:65px;
}

#degreeKelvin {
    width: 50px !important;
    border:none !important;
    position:absolute;
    left:65px;
}

#degreeRankine {
    width: 50px !important;
    border:none !important;
    position:absolute;
    left:65px;
}
#convert2 {
    position:absolute;
    left:150px;
}
#convert3 {
    position:absolute;
    left:150px;
}
#convert4 {
    position:absolute;
    left:150px;
}
